<script>
import { add, update } from '@/api/${apiPath}'
import i18n from '@/plugins/i18n'

export default {
  name: '${ClassName}EditDialog',
#if($dicts)
  dicts: [#foreach($item in $dicts)'${item}'#if($foreach.hasNext), #end#end],
#end
  data() {
    return {
      show: false,

      formLoading: false,
      form: {
#foreach($column in $columns)
#if($column.formShow)
        $column.javaField: null,
#end
#end
      },
      rules: {
#foreach($column in $columns)
#if($column.formShow && $column.notNull)
        $column.javaField: [
          { required: true, message: i18n.t('${tableName}.form.${column.javaField}.required'), trigger: #if($column.formType == "select" || $column.formType == "radio")'change'#else'blur'#end }
        ],
#end
#end
      },
    }
  },
  computed: {
    title() {
      return this.form.id ? this.$t('${tableName}.edit.title') : this.$t('${tableName}.add.title')
    }
  },
  methods: {
    open(row) {
      Object.assign(this.$data, this.$options.data())
      this.form = Object.assign(this.form, row)
      this.show = true
    },
    onSubmit() {
      #[[this.$refs['form'].validate(valid => {
        if (!valid) {
          return false
        }

        this.formLoading = true
        const reqPromise = this.form.id ? update(this.form) : add(this.form)
        reqPromise.then(() => {
          this.$message.success(this.form.id ? this.$t(']]#${tableName}#[[.edit.success') : this.$t(']]#${tableName}#[[.add.success'))
          this.show = false
          this.$emit('complete')
        }).finally(() => {
          this.formLoading = false
        })
      })]]#
    },
    onDialogOpen() {
      #[[this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.clearValidate();
        }
      });]]#
    },
  }
}
</script>

<template>
  <el-dialog
    :title="title"
    :visible.sync="show"
    :close-on-click-modal="false"
    width="500px"
    @open="onDialogOpen"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
#foreach($column in $columns)
#if($column.formShow)
    #elFormItem($column false "      ")
#end
#end
    </el-form>
    <div slot="footer">
      <el-button @click="show = false">{{ $t('general.form.cancel') }}</el-button>
      <el-button :loading="formLoading" class="eu-submit-btn" type="primary" @click="onSubmit">{{ $t('general.form.submit') }}</el-button>
    </div>
  </el-dialog>
</template>
