export default {
  '${tableName}.title': '${tableComment}',
#foreach($column in $columns)
  '${tableName}.field.${column.javaField}': '#if($column.finalColumnComment)$column.finalColumnComment#else$column.javaField#end',
#end
}
