<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eu.system.mapper.SysDeptMapper">
    <select id="selectRoleDeptCountByDeptIds" resultType="java.lang.Integer">
        select count(1) from sys_role_dept where dept_id in
        <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </select>
</mapper>

