package ${package}.domain;

import cn.eu.common.core.domain.BaseEntity;
import com.alibaba.excel.annotation.ExcelIgnore;
import com.alibaba.excel.annotation.ExcelProperty;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;
import lombok.EqualsAndHashCode;
import org.springframework.format.annotation.DateTimeFormat;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.time.LocalDateTime;
import java.time.LocalDate;

/**
 * ${tableComment}
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${ClassName} extends BaseEntity {

    private static final long serialVersionUID = 1L;
#foreach ($column in $entityColumns)

#if ($column.columnComment)
    /**
     * $column.columnComment
     */
#end
#if ($column.columnKey == 'PRI')
    #if ($autoPk)
    @TableId(type = IdType.AUTO)
    #else
    @TableId
    #end
#else
    #if ($column.notNull)
    #if ($column.javaType == 'String')
    @NotBlank(message = "{valid.${ClassName}.${column.javaField}.notBlank}")
    #else
    @NotNull(message = "{valid.${ClassName}.${column.javaField}.notNull}")
    #end
    #end
#end
#if ($column.excelExport)
    @ExcelProperty("#if($column.columnComment)$column.columnComment#else$column.javaField#end")
#else
    @ExcelIgnore
#end
#if ($column.javaType == 'LocalDateTime')
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#elseif ($column.javaType == 'LocalDate')
    @DateTimeFormat(pattern = "yyyy-MM-dd")
    @JsonFormat(pattern = "yyyy-MM-dd")
#end
    private $column.javaType $column.javaField;
#end

}
