#macro(elFormItem $column $isQuery $indent)
#set($formObj = "#if($isQuery)queryParams#{else}form#end")
#set($x_field = "#if($i18nEnable)$t('${tableName}.field.${column.javaField}')#{else}'#if($column.columnComment)$column.columnComment#else$column.javaField#end'#end")
#if ($i18nEnable)
$indent<el-form-item :label="$x_field" prop="${column.javaField}">
#else
$indent<el-form-item label="#if($column.columnComment)$column.columnComment#else$column.javaField#end" prop="${column.javaField}">
#end
  #if ($column.formType == 'number')
$indent  <el-input v-model="${formObj}.${column.javaField}" type="number" :placeholder="$t('general.placeholder.input', { field: $x_field })" clearable />
  #elseif ($column.formType == 'switch')
$indent  <el-switch v-model="${formObj}.${column.javaField}" :active-value="true" :inactive-value="false" />
  #elseif ($column.formType == 'select')
$indent  <el-select v-model="${formObj}.${column.javaField}" :placeholder="$t('general.placeholder.select', { field: $x_field })" clearable filterable style="width: 100%;">
    #if($column.dictKey)
$indent    <el-option v-for="item in dict.dict['${column.dictKey}']" :key="item.value" :label="item.label" #if($column.javaType == 'Integer' || $column.javaType == 'Long' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal'):value="Number(item.value)"#{else}:value="item.value"#end />
    #elseif($column.enumKey)
$indent    <el-option v-for="item in $enumsConvertToList($enums.${column.enumKey})" :key="item.value" :label="item.label" :value="item.value" />
    #else
$indent    <el-option label="请手动进行设置" value="请手动进行设置" />
    #end
$indent  </el-select>
  #elseif ($column.formType == 'radio')
$indent  <el-radio-group v-model="${formObj}.${column.javaField}" style="width: 100%;">
    #if($column.dictKey)
$indent    <el-radio v-for="item in dict.dict['${column.dictKey}']" :key="item.value" #if($column.javaType == 'Integer' || $column.javaType == 'Long' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal'):label="Number(item.value)"#{else}:label="item.value"#end>{{ item.label }}</el-radio>
    #elseif($column.enumKey)
$indent    <el-radio v-for="item in $enumsConvertToList($enums.${column.enumKey})" :key="item.value" :label="item.value">{{ item.label }}</el-radio>
    #else
$indent    <el-radio :label="0">请手动进行设置</el-radio>
    #end
$indent  </el-radio-group>
  #elseif ($column.formType == 'checkbox')
$indent  <el-checkbox-group v-model="${formObj}.${column.javaField}" style="width: 100%;">
    #if($column.dictKey)
$indent    <el-checkbox v-for="item in dict.dict['${column.dictKey}']" :key="item.value" #if($column.javaType == 'Integer' || $column.javaType == 'Long' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal'):label="Number(item.value)"#{else}:label="item.value"#end>{{ item.label }}</el-checkbox>
    #elseif($column.enumKey)
$indent    <el-checkbox v-for="item in $enumsConvertToList($enums.${column.enumKey})" :key="item.value" :label="item.value">{{ item.label }}</el-checkbox>
    #else
$indent    <el-checkbox :label="0">请手动进行设置</el-checkbox>
    #end
$indent  </el-checkbox-group>
  #elseif ($column.formType == 'date')
$indent  <el-date-picker
$indent    v-model="${formObj}.${column.javaField}"
$indent    type="date"
$indent    :placeholder="$t('general.placeholder.select', { field: $x_field })"
$indent    align="left"
$indent    value-format="yyyy-MM-dd"
$indent    style="width: 100%;"
$indent    clearable>
$indent  </el-date-picker>
  #elseif ($column.formType == 'datetime')
$indent  <el-date-picker
$indent    v-model="${formObj}.${column.javaField}"
$indent    type="datetime"
$indent    :placeholder="$t('general.placeholder.select', { field: $x_field })"
$indent    align="left"
$indent    value-format="yyyy-MM-dd HH:mm:ss"
$indent    style="width: 100%;"
$indent    clearable>
$indent  </el-date-picker>
  #elseif ($column.formType == 'file')
$indent  <upload-file
$indent    v-model="${formObj}.${column.javaField}"
$indent    upload-api="/api/upload/uploadFile"
$indent    :single-mode="true"
$indent    #[[:tip="`${$t('crud.ImportDialog.upload.tip', { sizeLimit: 10 })}`"]]#
$indent  />
  #elseif($column.formType == 'image')
$indent  <upload-file
$indent    v-model="${formObj}.${column.javaField}"
$indent    upload-api="/api/upload/uploadFile"
$indent    :show-file-list="false"
$indent    :single-mode="true"
$indent    accept="image/*"
$indent    list-type="picture-avatar"
$indent  >
$indent    <template #trigger>
$indent      <img v-if="${formObj}.${column.javaField}" :src="${formObj}.${column.javaField}" alt="" class="avatar">
$indent      <i v-else class="el-icon-plus"></i>
$indent    </template>
$indent  </upload-file>
  #elseif($column.formType == 'editor')
$indent  <eu-editor v-model="${formObj}.${column.javaField}" />
  #elseif(!$column.builtInFormType)
$indent  <$column.formType v-model="${formObj}.${column.javaField}" />
  #else
$indent  <el-input v-model="${formObj}.${column.javaField}" :placeholder="$t('general.placeholder.input', { field: $x_field })" clearable />
  #end
$indent</el-form-item>
#end
