import request from '@/utils/request'

export function page(params: any) {
  return request({
    url: '/api/${apiPath}/page',
    method: 'get',
    params
  })
}

export function add(data: any) {
  return request({
    url: '/api/${apiPath}',
    method: 'post',
    data
  })
}

export function update(data: any) {
  return request({
    url: '/api/${apiPath}',
    method: 'put',
    data
  })
}

export function batchDel(ids: any[]) {
  return request({
    url: '/api/${apiPath}/batch',
    method: 'delete',
    data: ids
  })
}

export function getById(id: string | number) {
  return request({
    url: '/api/${apiPath}/query/' + id,
    method: 'get'
  })
}
