services:
  postgres:
    build:
      context: pgsql
    container_name: ${PROJECT_NAME}-postgres
    image: ${PROJECT_NAME}/postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ${VOLUMES_PGSQL_LOCAL_PATH}:/var/lib/postgresql/data
    networks:
      app_net:
        ipv4_address: 172.16.${SUBNET_NUM}.13
  redis:
    image: redis:6.0
    container_name: ${PROJECT_NAME}-redis
    command: redis-server --requirepass ${REDIS_PASSWD}
    volumes:
      - ${VOLUMES_REDIS_LOCAL_PATH}:/data
    networks:
      app_net:
        ipv4_address: 172.16.${SUBNET_NUM}.12
    ports:
      - ${REDIS_PORT}:6379
  eu-admin:
    build:
      context: ../
      dockerfile: ./env/eu-admin/Dockerfile
    image: ${PROJECT_NAME}/eu-admin:${APP_VERSION}
    container_name: ${PROJECT_NAME}-admin
    environment:
      SPRING_PROFILE: ${APP_PROFILE}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWD}
    ports:
      - ${EU_ADMIN_PORT}:8000
    volumes:
      - ${VOLUMES_EU_ADMIN_LOCAL_PATH}:/home/eu/logs
    depends_on:
      - postgres
      - redis
    networks:
      app_net:
        ipv4_address: 172.16.${SUBNET_NUM}.20

networks:
  app_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.${SUBNET_NUM}.0/24